<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="1">
  <test name="Test1">
    <parameter name="browser" value="chrome"></parameter>
    <parameter name="version" value="v1.0.0"></parameter>
    <parameter name="env" value="DemoInstance"></parameter>
    <parameter name="projectName" value="UnitList"></parameter>
    <parameter name="user" value="DemoUser"></parameter>
    <classes>
      <class name="com.runner.RunnerTest"/>
    </classes>
  </test>
</suite>